# CSC310 Assignment #2

Salaries for Professors
=============================
From R datasets

In [1]:
import pandas as pd

In [2]:
salary_df = pd.read_csv("./dataset/Salaries.csv")

In [3]:
# get the row and col of the dataframe and store them into variables
srow, scol = salary_df.shape

In [4]:
print(f'There are {srow} rows and {scol} columns in Salaries dataset untouched.')

There are 397 rows and 7 columns in Salaries dataset untouched.

In [5]:
print(salary_df)

     Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0             1      Prof          B             19           18  Male  139750
1             2      Prof          B             20           16  Male  173200
2             3  AsstProf          B              4            3  Male   79750
3             4      Prof          B             45           39  Male  115000
4             5      Prof          B             40           41  Male  141500
..          ...       ...        ...            ...          ...   ...     ...
392         393      Prof          A             33           30  Male  103106
393         394      Prof          A             31           19  Male  150564
394         395      Prof          A             42           25  Male  101738
395         396      Prof          A             25           15  Male   95329
396         397  AsstProf          A              8            4  Male   81035

[397 rows x 7 columns]

In [6]:
salary_df.columns

Index(['Unnamed: 0', 'rank', 'discipline', 'yrs.since.phd', 'yrs.service',
       'sex', 'salary'],
      dtype='object')

In [7]:
# since Unnamed: 0 column is just the row numbers it is okay to drop it
salary_new = salary_df.drop('Unnamed: 0', axis=1)
# create copies of the dataframe
# one to hold all the categorical columns and the other to hold the numerical colums
salary_categorical = salary_new.copy()
salary_numerical = salary_new.copy()
# numerical will hold the name of the numerical column
# categorical will hold the name of the categorical column
snumerical = []
scategorical = []

In [8]:
#traverse through all the columns in the dataframe
for col in salary_new.columns:
    #check if the datatype is an object if it is not a int then it is categorical
    if salary_new[col].dtypes == 'object':
        # add the col val to categorical
        scategorical+= [col]
        salary_numerical = salary_numerical.drop(col,axis=1)
    else:
        snumerical+= [col]
        salary_categorical = salary_categorical.drop(col,axis=1)

In [9]:
print(f"There are {len(snumerical)} columns. \nThe numerical columns are... {', '.join(snumerical)}.")
print(f"There are {len(scategorical)} columns. \nThe categorical columns are... {', '.join(scategorical)}.")

There are 3 columns.
The numerical columns are... yrs.since.phd, yrs.service, salary.
There are 3 columns.
The categorical columns are... rank, discipline, sex.

In [10]:
salary_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        397 non-null    object
 1   discipline  397 non-null    object
 2   sex         397 non-null    object
dtypes: object(3)
memory usage: 9.4+ KB

In [11]:
salary_numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   yrs.since.phd  397 non-null    int64
 1   yrs.service    397 non-null    int64
 2   salary         397 non-null    int64
dtypes: int64(3)
memory usage: 9.4 KB

In [12]:
salary_new.isnull().sum()

rank             0
discipline       0
yrs.since.phd    0
yrs.service      0
sex              0
salary           0
dtype: int64

According to the function call isnull() function looks at all the data in the dataframe to see if there is a missing or null value and returns true. The sum() function then sum up all the values that returns true, and this display all the nulls value in each column.

According to the the chart, there is no missing data in this dataset.

US Arrests Rate Dataset
===================
From R datasets

In [13]:
arrests_df = pd.read_csv("./dataset/USArrests.csv")

In [14]:
arow, acol = arrests_df.shape

In [15]:
print(f'There are {arow} rows and {acol} columns in US Arrests rate dataset untouched.')

There are 50 rows and 5 columns in US Arrests rate dataset untouched.

In [16]:
print(arrests_df)

        Unnamed: 0  Murder  Assault  UrbanPop  Rape
0          Alabama    13.2      236        58  21.2
1           Alaska    10.0      263        48  44.5
2          Arizona     8.1      294        80  31.0
3         Arkansas     8.8      190        50  19.5
4       California     9.0      276        91  40.6
5         Colorado     7.9      204        78  38.7
6      Connecticut     3.3      110        77  11.1
7         Delaware     5.9      238        72  15.8
8          Florida    15.4      335        80  31.9
9          Georgia    17.4      211        60  25.8
10          Hawaii     5.3       46        83  20.2
11           Idaho     2.6      120        54  14.2
12        Illinois    10.4      249        83  24.0
13         Indiana     7.2      113        65  21.0
14            Iowa     2.2       56        57  11.3
15          Kansas     6.0      115        66  18.0
16        Kentucky     9.7      109        52  16.3
17       Louisiana    15.4      249        66  22.2
18           Maine     2.1       83        51   7.8
19        Maryland    11.3      300        67  27.8
20   Massachusetts     4.4      149        85  16.3
21        Michigan    12.1      255        74  35.1
22       Minnesota     2.7       72        66  14.9
23     Mississippi    16.1      259        44  17.1
24        Missouri     9.0      178        70  28.2
25         Montana     6.0      109        53  16.4
26        Nebraska     4.3      102        62  16.5
27          Nevada    12.2      252        81  46.0
28   New Hampshire     2.1       57        56   9.5
29      New Jersey     7.4      159        89  18.8
30      New Mexico    11.4      285        70  32.1
31        New York    11.1      254        86  26.1
32  North Carolina    13.0      337        45  16.1
33    North Dakota     0.8       45        44   7.3
34            Ohio     7.3      120        75  21.4
35        Oklahoma     6.6      151        68  20.0
36          Oregon     4.9      159        67  29.3
37    Pennsylvania     6.3      106        72  14.9
38    Rhode Island     3.4      174        87   8.3
39  South Carolina    14.4      279        48  22.5
40    South Dakota     3.8       86        45  12.8
41       Tennessee    13.2      188        59  26.9
42           Texas    12.7      201        80  25.5
43            Utah     3.2      120        80  22.9
44         Vermont     2.2       48        32  11.2
45        Virginia     8.5      156        63  20.7
46      Washington     4.0      145        73  26.2
47   West Virginia     5.7       81        39   9.3
48       Wisconsin     2.6       53        66  10.8
49         Wyoming     6.8      161        60  15.6

In [17]:
# two copies of arrest dataframe one that will hold only categorical cols and the other only numerical cols
Arrests_numerical = arrests_df.copy()
Arrests_categorical = arrests_df.copy()
anumerical = []
acategorical = []

In [18]:
# traverse through all columns in data
for col in arrests_df:
    # check for categorical data
    if arrests_df[col].dtypes == 'object':
        acategorical += [col]
        Arrests_numerical = Arrests_numerical.drop(col,axis=1)
    else:
        anumerical += [col]
        Arrests_categorical = Arrests_categorical.drop(col,axis=1)

In [20]:
print(f"There are {len(anumerical)} columns. \nThe numerical columns are... {', '.join(anumerical)}.")
print(f"There are {len(acategorical)} columns. \nThe categorical columns are... {', '.join(acategorical)}.")

There are 4 columns.
The numerical columns are... Murder, Assault, UrbanPop, Rape.
There are 1 columns.
The categorical columns are... Unnamed: 0.

In [21]:
Arrests_numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Murder    50 non-null     float64
 1   Assault   50 non-null     int64
 2   UrbanPop  50 non-null     int64
 3   Rape      50 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.7 KB

In [22]:
Arrests_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     object
dtypes: object(1)
memory usage: 528.0+ bytes

In [23]:
arrests_df.isnull().sum()

Unnamed: 0    0
Murder        0
Assault       0
UrbanPop      0
Rape          0
dtype: int64

According to the function isnull().sum() there are no missing values.